body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    max-width: 1920px;
    margin: 0 auto;
}

h3 {
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    color: #000;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.text-right {
    text-align: right;
}

.general-linkbtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #fff;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
    background-color: #D0021B;
    font-size: 13px;
    font-weight: 500;
    height: 56px;
    padding-left: 65px;
    padding-right: 65px;
    text-decoration: none;
}

a:focus,
input:focus {
    outline: none;
}

h4 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
}

/* general end */

/* header */
header.header {
    height: 118px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__nav {
    position: absolute;
    left: 57px;
    cursor: pointer;
}

/* header end */

/* main slider */
.mainslider {
    padding: 0 29px;
    position: relative;
}

.bigslider {
    height: calc(100vh - 150px);
    width: 92.5%;
    margin: 0 auto;
    max-height: 815px;
    min-height: 600px;
    position: relative;
    z-index: 2;
    background-color: #fff;
}

.bigslider__slide.slick-slide {
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 150px);
    max-height: 815px;
    min-height: 600px;
    position: relative;
}

.bigslider__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.bigslider__slide.slick-slide:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    width: 100%;
    height: 100%;
}

.slide__text {
    position: absolute;
    z-index: 1;
    color: #fff;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
}

.slide__text h2 {
    font-size: 62px;
    font-weight: 600;
    line-height: 93px;
    margin: 0;
}

.slide__text p.subtitle {
    margin: 0;
    font-size: 16px;
    line-height: 1;
}

.slide__link {
    display: flex;
    width: 300px;
    height: 56px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
    background-color: #D0021B;
    color: #fff;
    margin: 99px auto 0;
    text-transform: uppercase;
}

.bigslider .slick-arrow {
    position: absolute;
    right: 0;
    z-index: 2;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: none;
    outline: none;
    padding: 0;
    background-color: #D0021B;
    right: -28px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../image/icons/slider-arrow.svg);
    cursor: pointer;
}

.bigslider .slick-arrow.slick-prev {
    top: 25%;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.bigslider .slick-arrow.slick-next {
    top: calc(25% + 96px);
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.bigslider .slick-dots {
    position: absolute;
    left: 5%;
    bottom: 6%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bigslider .slick-dots li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;

}

.bigslider .slick-dots li:last-child {
    margin-right: 0;
}

.bigslider .slick-dots li button {
    border: none;
    color: transparent;
    outline: none;
    width: 10px;
    height: 10px;
    padding: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

.bigslider .slick-dots .slick-active button {
    background-color: #D0021B;
}

.mainslider__reddots {
    position: absolute;
    right: 29px;
    bottom: -100px;
    z-index: 0;
}

.bigslider__slide.slick-slide .slide__text h2 {
    position: relative;
    opacity: 0;
    left: -300px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.bigslider__slide.slick-slide.slick-active .slide__text h2 {
    opacity: 1;
    left: 0;
}

.bigslider__slide.slick-slide .slide__text p.subtitle {
    position: relative;
    right: -200px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.bigslider__slide.slick-slide.slick-active .slide__text p.subtitle {
    right: 0;
}



/* main slider end */

/* OUR WORKS */
.ourworks {
    padding: 150px 24px 0 24px;
}

.ourworks__topsect {
    text-align: center;
    margin-bottom: 60px;
}

.ourworks h3 {
    margin: 0 0 16px 0;
}

.ourworks__topsect p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin: 0 0 16px 0;
    color: #666666;
}

.ourworks__topsect p a {
    display: block;
    color: #D0021B;
    font-weight: 400;
}

.ourworks__topsect p a:hover {
    text-decoration: none;
}

.work-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -7px;
    margin-left: -7px;
}

.work-col {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    box-sizing: border-box;
    padding-right: 7px;
    padding-left: 7px;
}

.workbox {
    padding-bottom: 56.25%;
    position: relative;
    cursor: pointer;
    margin-bottom: 14px;
}

.workbox .workbox__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #333;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.workbox .workbox__inner>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    transition: all 2s cubic-bezier(.23, 1, .32, 1) 0s;
    -webkit-transition: all 2s cubic-bezier(.23, 1, .32, 1) 0s;
    -moz-transition: all 2s cubic-bezier(.23, 1, .32, 1) 0s;
    -ms-transition: all 2s cubic-bezier(.23, 1, .32, 1) 0s;
    -o-transition: all 2s cubic-bezier(.23, 1, .32, 1) 0s;
}

.workbox:hover .workbox__inner>img {
    transform: scale(1.1);

}

.workbox__hoverbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(208, 2, 27, .8);
    padding: 10.5% 15%;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out 0s;
    -webkit-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
    /* z-index: -1; */
}

.workbox:hover .workbox__hoverbox {
    opacity: 1;
    visibility: visible;
    transform: rotate3d(1, 1, 1, 0deg);
    -webkit-transform: rotate3d(1, 1, 1, 0deg);
    -moz-transform: rotate3d(1, 1, 1, 0deg);
    -ms-transform: rotate3d(1, 1, 1, 0deg);
    -o-transform: rotate3d(1, 1, 1, 0deg);
}

.whoverbox__title {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 32px;
    max-width: 370px;
    margin: 0 0 33px 0;
}

.whoverbox__inf {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

.whoverbox__inf p {
    margin: 0;
}

.whoverbox__inf img {
    width: 34px;
    vertical-align: middle;
}

.whoverbox__inf span {
    vertical-align: middle;
    display: inline-block;
    max-width: calc(100% - 35px);
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    padding-left: 10px;
}

.whoverbox__descr {
    margin-bottom: 50px;
}

.whoverbox__seemore {
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.whoverbox__seemore:hover {
    text-decoration: none;
}

.ourworks__works {
    position: relative;
    overflow: hidden;
}

.ourworks__works .left-pic,
.ourworks__works .right-pic {
    position: absolute;
    top: 50%;

    z-index: 1;
}

.ourworks__works .right-pic {
    right: 0;
    transform: translate(78%, -50%);
    -webkit-transform: translate(78%, -50%);
    -moz-transform: translate(78%, -50%);
    -ms-transform: translate(78%, -50%);
    -o-transform: translate(78%, -50%);
}

.ourworks__works .left-pic {
    left: 0;
    transform: translate(-78%, -50%);
    -webkit-transform: translate(-78%, -50%);
    -moz-transform: translate(-78%, -50%);
    -ms-transform: translate(-78%, -50%);
    -o-transform: translate(-78%, -50%);
}

/* OUR WORKS END */

/* CHOOSE US */
.chooseus {
    padding: 140px 24px 110px 24px;
}

.chooseus__topsect {
    text-align: center;
    margin-bottom: 68px;
}

.chooseus__topsect .beforetitle-text {
    font-size: 13px;
    margin: 0;
    font-weight: 700;
    color: #D0021B;
}

.chooseus__topsect h3 {
    margin: 0;
    line-height: 42px;
}

.chooseus__topsect p:not(.beforetitle-text) {
    font-size: 16px;
    line-height: 21px;
    margin: 10px 0 0 0;
    color: #666666;
}

.chooseus-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -7px;
    margin-left: -7px;
}

.chooseus-col {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;
    padding-right: 7px;
    padding-left: 7px;
}

.choose-content {
    max-width: 57%;
    margin: 0 auto;
}

.choose__picbox {
    display: inline-flex;
    vertical-align: top;
    width: 99px;
    height: 99px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: rgba(208, 2, 27, .08);
    align-items: center;
    justify-content: center;
}

.choose__textbox {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 105px);
    padding-left: 28px;
}

.choose__textbox .title {
    font-size: 18px;
    font-weight: 600;
    color: #D0021B;
    margin: 0 0 9px 0;
}

.choose__textbox .descr {
    margin: 0;
    font-size: 13px;
    line-height: 19px;
    max-width: 345px;
    color: #666666;
    font-weight: 300;
}

.choose-box {
    margin-bottom: 85px;
}

.choose-content>a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    width: 300px;
    height: 56px;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
    border: 1px solid #000;
    margin: 0 auto;
}

.choose-content>a:hover {
    background-color: #D0021B;
    color: #fff;
    border-color: #D0021B;
    box-shadow: 0 10px 10px #c6bbbd;
}

/* HOW WORKING */
.howworking {
    padding: 110px 24px 130px 24px;
    overflow: hidden;
}

.howworking h3 {
    color: #D0021B;
    text-align: center;
    margin: 0 0 60px 0;
    line-height: 42px;
}

.howworking-sect {
    width: 88.5%;
    margin: 0 auto;

}

.howworking__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;

}

.howworking__row:after {
    content: "";
    width: 570px;
    height: 570px;
    position: absolute;
    left: -280px;
    bottom: -75px;
    background-image: url(../image/red-dots.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    z-index: -1;
}

.howworking-sect .howworking__row:nth-child(even):after {
    left: initial;
    right: -280px;
}

.howworking__colpic {
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
    box-sizing: border-box;
}

.howworking__coltext {
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.howworking-sect .howworking__row:nth-child(odd) .howworking__coltext {
    padding-left: 95px;
}

.howworking__coltext .step {
    font-size: 17px;
    font-weight: 600;
    margin: 0;
    line-height: 31px;
    color: #D0021B;
    text-transform: uppercase;
}

.howworking__coltext .title {
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 600;
    margin: 0 0 0 0;
    color: #000;
    line-height: 31px;
}

.howworking__coltext .subtitle {
    font-size: 13px;
    font-weight: 300;
    margin: 0 0 30px 0;
    color: #000;
}

.howworking__coltext a {
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #fff;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
    background-color: #D0021B;
    font-size: 13px;
    font-weight: 500;
    height: 56px;
    width: 273px;
    text-decoration: none;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.howworking__coltext a:hover {
    box-shadow: 0 10px 10px #c6bbbd;
}

.howworking__coltext ul {
    list-style-type: none;
    padding: 0;
    margin: 30px 0 0 0;
}

.howworking__coltext ul li {
    font-size: 13px;
    font-weight: 300;
    line-height: 19px;
    color: #666666;
    position: relative;
}



.howworking__coltext ul li:not(:last-child) {
    margin-bottom: 20px;
}

.howworking__colpic img {
    max-width: 100%;
}

.howworking__row:not(:last-child) {
    margin-bottom: 60px;
}

.howworking-sect .howworking__row:nth-child(even) .howworking__colpic {
    order: 2;
}

.howworking-sect .howworking__row:nth-child(even) .howworking__coltext {
    order: 1;
    padding-left: 0;
    padding-right: 95px;
}

.formsection .title {}

/* HOW WORKING END */

/* FORM */
.formsection {
    padding: 110px 0 130px 0;
}

.formsection form {
    max-width: 640px;
    margin: 0 auto;

}

.formsection form .title {
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
    margin: 0 0 60px 0;
}



.controls {
    height: 36px;
    width: 100%;
    max-width: 517px;
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
}

.controls input {
    outline: none;
    width: 100%;
    max-width: 517px;
}

.controls label {
    margin: 0;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    color: #000;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
    transition: .15s;
    -webkit-transition: .15s;
    -moz-transition: .15s;
    -ms-transition: .15s;
    -o-transition: .15s;
    text-align: center;
}

.controls {
    text-align: left;
    position: relative;
    margin: 0 auto 45px;
}


.controls input[type="text"]:focus,
.controls input[type="text"]:hover,
.controls input[type="email"]:focus,
.controls input[type="email"]:hover,
.controls input[type="number"]:focus,
.controls input[type="number"]:hover,
.controls input[type="date"]:focus,
.controls input[type="date"]:hover,
.controls input[type="tel"]:focus,
.controls input[type="tel"]:hover,
.controls textarea:focus,
.controls textarea:hover,
.controls button:focus,
.controls button:hover,
.controls select:focus,
.controls select:hover {
    outline: none;
}

.controls input[type="text"]:focus+label,
.controls input[type="text"]:hover+label,
.controls input[type="email"]:focus+label,
.controls input[type="email"]:hover+label,
.controls input[type="number"]:focus+label,
.controls input[type="number"]:hover+label,
.controls input[type="date"]:focus+label,
.controls input[type="date"]:hover+label,
.controls input[type="tel"]:focus+label,
.controls input[type="tel"]:hover+label,
.controls textarea:focus+label,
.controls textarea:hover+label,
.controls button:focus+label,
.controls button:hover+label,
.controls select:focus+label,
.controls select:hover+label {
    cursor: text;
}

.controls label.active {
    top: -5px;
    font-size: 12px;
    line-height: 17px;
}

.controls input[type="text"],
.controls input[type="email"],
.controls input[type="tel"] {
    width: 100%;
    max-width: 517px;
    height: 36px;
    border: none;
    border-bottom: 1px solid #000;
}

.formsection form input[type="submit"],
.modalform-wrap form input[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 56px;
    background-color: #D0021B;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    border: none;
    margin: 0 auto;
    cursor: pointer;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.formsection form input[type="submit"]:hover,
.modalform-wrap form input[type="submit"]:hover {
    box-shadow: 0 10px 10px #c6bbbd;
}

.after-before {
    max-width: 1170px;
    margin: 0 auto;
    padding: 70px 0 188px 0;
}

.twentytwenty-container {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
}

.after-before .toptext {
    font-size: 14px;
    line-height: 23px;
    font-weight: 300;
    max-width: 570px;
    margin: 0 auto 35px;
    text-align: center;
}

.twentytwenty-handle .twentytwenty-left-arrow,
.twentytwenty-handle .twentytwenty-right-arrow {
    display: none;
}

.twentytwenty-handle {
    width: 79px;
    height: 79px;
    box-sizing: border-box;
    background-color: #fff;
    background-image: url(../image/icons/double-arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 35px auto;
    margin-left: -39.5px;
}

.twentytwenty-horizontal .twentytwenty-handle:before {
    margin-bottom: 38px;
}

.twentytwenty-horizontal .twentytwenty-handle:after {
    margin-top: 38px;
}

.twentytwenty-wrapper {
    position: relative;
}

.twentytwenty-wrapper:after,
.twentytwenty-wrapper:before {
    content: "";
    display: inline-block;
    width: 570px;
    height: 570px;
    background-image: url(../image/red-dots.svg);
    background-size: 100% 100%;
    position: absolute;
    z-index: -1;
}

.twentytwenty-wrapper:after {
    bottom: -93px;
    left: -123px;
}

.twentytwenty-wrapper:before {
    right: -67px;
    top: -165px;
}

/* FORM  END*/
/* COST */
.costproject {
    position: relative;
    padding-bottom: 150px;

}

.costproject__container {
    margin: 0 auto;
    width: 86.5%;
}

.costproject h4 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    margin: 0 0 55px 0;
}

.costproject__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cost-project {
    width: 31.5%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: #fff;
    padding: 68px 0 68px 0;
    border: 1px solid #D0021B;
    box-sizing: border-box;
    text-align: center;
}

.cost-project.green {
    width: 32.8%;
    background-color: #D0021B;
    padding: 63px 0 88px 0;
}

.cost__beftitle {
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    margin: 0;
    text-transform: uppercase;
}

.cost__title {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    margin: 0 0 27px 0;
    color: #D0021B;
}

.cost__descr {
    max-width: 380px;
    margin: 0 auto 38px;
    font-size: 15px;
    font-weight: 300;
    min-height: 46px;
}

.cost__line {
    color: #D0021B;
    background-color: #fae5e7;
    margin: 0 0 39px 0;
    font-size: 15px;
    padding: 22px 0;
}

.cost__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
    background-color: #000;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    border: none;
    outline: none;
    margin: 0 auto;
    width: 300px;
    height: 56px;
    cursor: pointer;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    border: 2px solid #000;
}

.cost__btn:hover {
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    box-shadow: 0 10px 10px #c6c6c6;
}

.cost-project.green .cost__title {
    color: #fff;
    margin-bottom: 46px;
}

.cost-project.green .cost__descr {
    color: #fff;
}

.cost-project.green .cost__line {
    background-color: #dc4254;
    color: #fff;
}

.cost-project.green .cost__btn {
    background-color: #fff;
    color: #000;
    border: 2px solid #fff;
}

.cost-project.green .cost__btn:hover {
    box-shadow: none;
    background-color: #D0021B;
    color: #fff;
    box-shadow: 0 10px 10px #a73939;
}

/* COST END */
/* footer */
footer.footer {
    padding: 50px 0 65px 0;
    position: relative;
    overflow: hidden;
}

.footer__container {
    margin: 0 auto;
    width: 86.5%;
}

.footer__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer__leftbox {
    -ms-flex: 0 0 42.6%;
    flex: 0 0 42.6%;
    max-width: 42.6%;
    box-sizing: border-box;
}

.footer__rightbox {
    -ms-flex: 0 0 57.4%;
    flex: 0 0 57.4%;
    max-width: 57.4%;
    box-sizing: border-box;
}

.footer__logo {
    display: inline-block;
    margin-bottom: 24px;
}

.footer__leftbox p {
    max-width: 270px;
    font-size: 14px;
    color: #666666;
    line-height: 28px;
    margin: 0;
}

.footer__social {
    padding: 0;
    margin: 45px 0 55px 0;
    list-style-type: none;
}

.footer__social li {
    display: inline-block;
    vertical-align: middle;
}

.footer__social li:not(:last-child) {
    margin-right: 30px;
}

.footer__social li a {
    text-decoration: none;

}

.footer__social li a svg {
    max-width: 20px;
}

.footer__social li a svg path {
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.footer__social li a svg:hover path {
    fill: #D0021B;
}

.footer__rightboxinfo {
    display: inline-block;
    text-align: center;
}

.footer__rightboxinfo:first-child {
    margin-right: 30%;
}

.footer__rightboxinfo .title {
    margin: 0 0 5px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
}

.footer__rightboxinfo a {
    font-size: 14px;
    line-height: 28px;
    display: block;
    text-decoration: none;
    color: #666;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.footer__rightboxinfo a:hover {
    color: #D0021B;
}

footer.footer .footerbottompic {
    position: absolute;
    bottom: -10px;
    right: -5px;
}

.showmore-work {
    display: none;
}

.showmore-work span {
    text-decoration: underline;
}

/* footer END*/

.allworks-link {
    display: flex;
    width: 300px;
    height: 56px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
    background-color: #D0021B;
    color: #fff;
    margin: 50px auto 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.allworks-link:hover {
    box-shadow: 0 10px 10px #c6bbbd;
}

.ourworks__works {
    padding-bottom: 20px;
}

/* MODALS */

.modal-section,
.modal-section-proj,
.modal-section-gallery {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    display: none;
    z-index: 26;
}



.modalform-wrap {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalform-wrap form {
    background-color: #fff;
    padding: 60px 30px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    max-width: 600px;
    width: 100%;
    position: relative;
}

.modalform-wrap form .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
    margin: 0 0 60px 0;
}

.close-modal {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    opacity: .6;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.close-modal img {
    width: 20px;
}

.close-modal:hover {
    opacity: 1;
}

.modal-section-proj .modalform-wrap form .title {
    font-size: 42px;
}

.modal-gallery {
    background-color: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    width: 100%;
    max-width: 800px;
    height: auto;
    padding: 20px;
}

.modal-section-gallery .modal-gallery {
    position: relative;
}

.modal-section-gallery .close-modal {
    right: -25px;
    top: -25px;
    opacity: 1;
}

.modal-section-gallery .close-modal:hover {
    opacity: .7;
}

/* MENU */
header.header {
    position: fixed;
    width: 100%;
    z-index: 15;
    background-color: #fff;
}
.menu-section {
    position: fixed;
    left: 0;
    top: 117px;
    width: 100%;
    height: calc(100vh - 117px);
    background-color: #fff;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;

    /* display: none; */
}

.menu-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-section ul li {
    text-align: center;
    margin-bottom: 42px;
}

.menu-section ul li:last-child {
    margin-bottom: 0;
    margin-top: 77px;
}

.menu-section ul li:last-child span {
    width: 300px;
    height: 56px;
    border: 1px solid #D0021B;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.menu-section ul a {
    text-decoration: none;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    color: #000;
    text-transform: uppercase;
}



















/* .modal-section-gallery {
    display: block !important;
} */

/* #D0021B */


/* .work-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -7px;
    margin-left: -7px;
}

.work-col {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    box-sizing: border-box;
    padding-right: 7px;
    padding-left: 7px;
} */