@media(max-width: 1550.8px) {
    header.header {
        height: 80px;
    }

    .bigslider,
    .bigslider__slide.slick-slide {
        height: calc(100vh - 100px);
    }

    h3 {
        font-size: 42px;
        line-height: 60px;
    }

    .whoverbox__title {
        font-size: 22px;
        margin-bottom: 25px;
    }

    .whoverbox__descr {
        margin-bottom: 35px;
    }

    .workbox__hoverbox {
        padding: 9% 10%;
    }


    .howworking-sect .howworking__row:nth-child(odd) .howworking__coltext {
        padding-left: 70px;
    }

    .howworking-sect .howworking__row:nth-child(even) .howworking__coltext {
        padding-right: 70px;
    }

    .howworking__row:after {
        width: 450px;
        height: 450px;
        bottom: -45px;
    }

    .formsection form .title,
    .costproject h4 {
        font-size: 26px;
    }

    footer.footer {
        padding-bottom: 25px;
    }


    .modalform-wrap form {
        max-width: 500px;
    }

    .modalform-wrap form .title {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 30px;
    }

    .modalform-wrap form .controls input[type="text"],
    .modalform-wrap form .controls input[type="email"],
    .modalform-wrap form .controls input[type="tel"],
    .modalform-wrap form .controls textarea {
        max-width: 450px;
        margin: 0 auto;
    }

    .modalform-wrap form .controls {
        margin-bottom: 20px;
    }

    .modalform-wrap form input[type="submit"] {
        margin-top: 30px;
    }

    .menu-section {
        height: calc(100vh - 79px);
        top: 79px;
    }

    .menu-section ul a {
        font-size: 40px;
        line-height: 50px;
    }

    .menu-section ul li {
        margin-bottom: 25px;
    }

    .menu-section ul li:last-child {
        margin-top: 50px;
    }

    .ms__rightpic {
        right: -450px;
        top: -250px;
    }

    .ms__leftpic {
        left: -450px;
        bottom: -300px;
    }

    main {
        padding-top: 80px;
    }

    .formsection {
        padding-top: 150px;
    }

    footer.footer .footerbottompic {
        bottom: 33px;
    }
}

@media(max-width: 1440.8px) {

    .cost__title,
    .cost-project.green .cost__title {
        font-size: 34px;
        margin-bottom: 25px;
    }

    .cost__descr {
        font-size: 14px;
        padding: 0 10px;
        margin-bottom: 20px;
    }

    .cost__line {
        padding: 16px 0;
    }

    .cost__btn {
        width: 280px;
        height: 50px;
    }

    footer.footer {
        margin-top: 100px;
    }

    footer.footer .footerbottompic {
        max-width: 700px;
    }

    .footer__social {
        margin: 30px 0;
    }

    .ourworks__works .right-pic {
        right: -60px;
    }

    .ourworks__works .left-pic {
        left: -60px;
    }

    .twentytwenty-wrapper:after {
        left: -67px;
    }

    .twentytwenty-wrapper:after {
        bottom: -32px;
    }

    .after-before {
        width: 86.5%;
    }

    .whoverbox__title {
        font-size: 20px;
        margin-bottom: 20px;
        line-height: 28px;
    }

    .whoverbox__inf img {
        width: 30px;
    }

    .whoverbox__inf span {
        font-size: 16px;
    }

    .whoverbox__descr {
        margin-bottom: 25px;
    }





    .chooseus,
    .howworking,
    .formsection,
    .after-before,
    .costproject {
        padding-top: 120px;
        padding-bottom: 0;
    }
}

@media(max-width: 1199.8px) {

    .bigslider,
    .bigslider__slide.slick-slide {
        max-height: 500px;
        min-height: initial;
    }

    .slide__text h2 {
        line-height: 70px;
        font-size: 44px;
    }

    .mainslider__reddots {
        width: 450px;
        height: 450px;
        bottom: -40px;
    }

    .bigslider .slick-arrow {
        width: 40px;
        height: 40px;
    }

    .bigslider .slick-arrow {
        right: -19.5px;
    }

    .bigslider .slick-arrow.slick-next {
        top: calc(25% + 65px);
    }

    .bigslider .slick-dots li {
        margin-right: 15px;
    }

    .bigslider .slick-dots {
        left: 4%;
        bottom: 4%;
    }

    .choose-content {
        max-width: 80%;
    }

    .choose__picbox {
        width: 70px;
        height: 70px;
    }

    .choose__picbox img {
        max-width: 45px;
    }

    .choose__textbox {
        width: calc(100% - 75px);
    }

    .choose-box {
        margin-bottom: 50px;
    }

    .slide__link {
        margin-top: 70px;
    }

    .ourworks__works .right-pic,
    .ourworks__works .left-pic {
        display: none;
    }

    .whoverbox__title {
        font-size: 16px;
        margin-bottom: 15px;
        line-height: 24px;
    }

    .whoverbox__inf img {
        width: 24px;
    }

    .whoverbox__descr {
        margin-bottom: 15px;
    }

    .howworking__row:after {
        display: none;
    }

    .howworking__coltext .step {
        font-size: 16px;
        line-height: 26px;
    }

    .howworking__coltext .title {
        font-size: 20px;
        line-height: 28px;
    }

    .howworking__coltext ul {
        margin-top: 15px;
    }

    .howworking__coltext ul li:not(:last-child) {
        margin-bottom: 10px;
    }

    .howworking__colpic,
    .howworking__coltext {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .howworking__coltext a {
        margin-top: 30px;
    }

    .howworking-sect .howworking__row:nth-child(odd) .howworking__coltext {
        padding-left: 40px;
    }

    .howworking__coltext .subtitle {
        margin-bottom: 20px;
    }

    .costproject h4 {
        margin-bottom: 35px;
    }

    .cost__title,
    .cost-project.green .cost__title {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .cost__btn {
        width: 90%;
        height: 46px;
    }

    .cost__line {
        font-size: 13px;
    }

    .cost__descr {
        margin-bottom: 10px;
    }

    .cost-project.green,
    .cost-project {
        padding: 30px 0 50px 0;
    }

    .cost__line {
        padding: 10px 5px;
    }

    .modal-section-proj .modalform-wrap form .title {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .modal-section-gallery {
        overflow: scroll;
    }

    .modalform-wrap {
        min-height: 600px;
        height: 100%;
    }

    h3 {
        font-size: 38px;
        line-height: 50px;
    }

    .slide__link,
    .howworking__coltext a,
    .formsection form input[type="submit"],
    .choose-content>a {
        width: 250px;
        height: 46px;
        font-size: 12px;
    }

    footer.footer .footerbottompic {
        max-width: 600px;
    }
}

@media(max-width: 1024.8px) {
    .whoverbox__seemore {
        font-size: 14px;
    }

    .modal-section,
    .modal-section-proj,
    .modal-section-gallery {
        overflow: scroll;
    }

    .modalform-wrap {
        min-height: 510px;
        height: 100%;
    }

    .modal-section-gallery {
        padding: 40px 0;
        box-sizing: border-box;
    }

    .menu-section ul a:after {
        display: none;
    }

    .menu-section {
        overflow: scroll;
    }
}

@media(max-width: 991.8px) {
    main {
        padding-top: 60px;
    }

    header.header {
        height: 60px;
    }

    .header__logo img {
        max-width: 170px;
    }

    .header__nav {
        left: 40px;
    }

    .bigslider,
    .bigslider__slide.slick-slide {
        height: 400px;
    }

    .bigslider {
        width: 100%;
    }

    .twentytwenty-wrapper:before,
    .twentytwenty-wrapper:after {
        display: none;
    }

    .mainslider__reddots {
        width: 300px;
        height: 300px;
        bottom: -25px;
        right: 19px;
    }

    .slide__text h2 {
        line-height: 60px;
        font-size: 32px;
    }

    .header__nav img {
        width: 22px;
    }

    .bigslider .slick-arrow {
        background-size: 16px;
    }

    h3 {
        font-size: 32px;
        line-height: 42px;
    }

    .work-col {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .work-row .work-col:nth-child(n + 5) {
        display: none;
    }

    .showmore-work {
        display: block;
        text-align: center;
    }

    .choose-content {
        max-width: 100%;
    }

    .howworking__colpic,
    .howworking__coltext {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .howworking-sect .howworking__row:nth-child(odd) .howworking__coltext {
        padding-left: 0;
        margin-top: 20px;
    }

    .howworking-sect .howworking__row:nth-child(even) .howworking__colpic {
        order: 1;
    }

    .howworking-sect {
        width: 100%;
    }

    .howworking-sect .howworking__row:nth-child(even) .howworking__coltext {
        padding-right: 0;
        margin-top: 20px;
    }

    .formsection form {
        max-width: 100%;
    }

    .after-before {
        width: 100%;
    }

    .costproject__container .cost-project:first-child {
        order: 2;
    }

    .costproject__container .cost-project:nth-child(2) {
        order: 1;
    }

    .costproject__container .cost-project:nth-child(3) {
        order: 3;
    }

    .costproject__container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .cost-project {
        width: 46%;
        margin: 0 2%;
    }

    .cost-project.green {
        width: 50%;
        margin: 0 15%;
        margin-bottom: 20px;
    }

    .cost-project.green,
    .cost-project {
        padding: 50px 0 70px 0;
    }

    .cost__descr {
        min-height: 65px;
    }

    .footer__leftbox {
        -ms-flex: 0 0 35%;
        flex: 0 0 35%;
        max-width: 35%;
    }

    .footer__rightbox {
        -ms-flex: 0 0 65%;
        flex: 0 0 65%;
        max-width: 65%;
        display: flex;
        justify-content: space-between;
    }

    .footer__rightboxinfo:first-child {
        margin: 0;
    }

    footer.footer .footerbottompic {
        max-width: 55%;
    }

    .modal-gallery {
        max-width: 90%;
    }

    .modal-section-gallery .close-modal {
        right: 0;
    }

    .menu-section {
        height: calc(100vh - 59px);
        top: 59px;
    }

    .ourworks.portfoliopage .work-row .work-col:nth-child(n + 5),
    .ourworks.portfoliopage .work-row .work-col {
        display: block;
    }



    .ourworks__topsect,
    .howworking h3 {
        margin-bottom: 30px;
    }

    .ourworks,
    .chooseus,
    .howworking,
    .formsection,
    .after-before {
        padding: 100px 40px 0 40px;
        box-sizing: border-box;
    }

    .mainslider {
        padding-left: 40px;
        padding-right: 40px;
    }



}

@media(max-width: 767.8px) {
    .chooseus__topsect .beforetitle-text {
        margin-bottom: 0;
    }

    .header__nav {
        display: flex;
        font-style: italic;
    }

    .chooseus-col {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .modal-section,
    .modal-section-proj {
        overflow: scroll;
    }

    .modalform-wrap {
        min-height: 510px;
        height: 100%;
    }


    .ms__rightpic {
        right: -523px;
        top: -380px;
    }

    .ms__leftpic {
        left: -494px;
        bottom: -340px;
    }

    .menu-section ul a {
        font-size: 32px;
        line-height: 38px;
    }

    .menu-section ul li:last-child span {
        height: 50px;
        font-size: 14px;
    }

}

@media(max-width: 700.8px) and (min-width:576px) {
    .work-col {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .whoverbox__title {
        font-size: 24px;
        margin-bottom: 25px;
        line-height: 34px;
    }

    .whoverbox__seemore {
        font-size: 18px;
    }

    .whoverbox__descr {
        margin-bottom: 25px;
    }
}

@media(max-width: 575.8px) {
    .header__nav {
        left: 15px;
    }

    .mainslider {
        padding-left: 15px;
        padding-right: 15px;
    }

    .mainslider__reddots {
        right: 0;
    }

    .bigslider,
    .bigslider__slide.slick-slide {
        height: calc(100vh - 60px);
        max-height: calc(100vh - 60px);
    }

    .slide__text h2 {
        line-height: 45px;
        font-size: 34px;
    }

    .bigslider .slick-dots {
        left: 0;
        right: 0;
        text-align: center;
    }

    .mainslider__reddots {
        display: none;
    }

    .cost-project {
        width: 100%;
    }

    .work-col {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .whoverbox__title {
        font-size: 21px;
        margin-bottom: 30px;
    }

    .whoverbox__descr {
        margin-bottom: 25px;
    }

    .workbox__hoverbox .text-right {
        text-align: center;
    }

    .chooseus__topsect {
        margin-bottom: 60px;
    }

    .choose__picbox {
        width: 99px;
        height: 99px;
        margin-bottom: 18px;
    }

    .choose-box {
        text-align: center;
    }

    .choose__textbox {
        width: 100%;
        padding-left: 0;
    }

    .choose__textbox .descr {
        font-size: 14px;
    }

    .slide__link,
    .howworking__coltext a,
    .formsection form input[type="submit"],
    .choose-content>a {
        width: 100%;
        max-width: 300px;
        height: 56px;
        font-size: 14px;
    }

    .howworking__coltext .step {
        font-size: 17px;
        text-align: center;
    }

    .howworking__coltext .title {
        font-size: 23px;
        text-align: center;
        margin-bottom: 34px;
    }

    .howworking__coltext {
        margin-top: 30px !important;
    }

    .howworking__coltext ul li {
        font-size: 14px;
        text-align: center;
    }

    .howworking__coltext ul li:not(:last-child) {
        margin-bottom: 20px;
    }

    .howworking__coltext a {
        margin: 30px auto 0;
        display: flex;
    }

    .howworking__row:not(:last-child) {
        margin-bottom: 70px;
    }

    .controls {
        width: 86%;
    }

    .twentytwenty-container {
        height: 250px !important;
    }

    .twentytwenty-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .twentytwenty-handle {
        width: 60px;
        height: 60px;
        margin-left: -30px;
    }

    .twentytwenty-horizontal .twentytwenty-handle:before {
        margin-bottom: 30px;
    }

    .twentytwenty-horizontal .twentytwenty-handle:after {
        margin-top: 30px;
    }

    .costproject {
        padding-top: 95px;
    }

    .costproject h4 {
        max-width: 300px;
        margin: 0 auto 35px;
    }

    .cost-project.green {
        margin: 0 0 20px 0;
        width: 100%;
    }

    .costproject__container {
        width: 100%;
    }

    .costproject {
        padding-left: 15px;
        padding-right: 15px;
    }

    .cost__line {
        padding: 23px 5px;
        font-size: 15px;
    }

    .cost__title,
    .cost-project.green .cost__title {
        font-size: 44px;
        margin-bottom: 40px;
    }

    .cost-project {
        margin-bottom: 20px;
    }

    .cost-project {
        margin-left: 0;
        margin-right: 0;
    }

    .costproject__container .cost-project:first-child,
    .costproject__container .cost-project:nth-child(2),
    .costproject__container .cost-project:nth-child(3) {
        order: initial;
    }

    footer.footer {
        padding: 50px 15px 0 15px;
    }

    footer.footer .footerbottompic {
        position: relative;
    }

    .footer__container {
        width: 100%;
    }

    .footer__leftbox,
    .footer__rightbox {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .footer__rightbox {
        order: 1;
    }

    .footer__leftbox {
        order: 2;
    }

    .footer__rightboxinfo,
    .footer__rightboxinfo {
        display: block;
        width: 100%;
    }

    .footer__rightbox {
        display: block;
    }

    footer.footer {
        margin-top: 0;
        padding-top: 100px;
    }

    .footer__rightboxinfo .title {
        font-size: 23px;
    }

    .footer__rightboxinfo a {
        font-size: 20px;
    }

    .footer__rightboxinfo:first-child {
        margin-bottom: 50px;
    }

    .footer__rightboxinfo:nth-child(2) {
        margin-bottom: 135px;
    }

    .footer__logo img {
        width: 85px;
    }

    .footer__leftbox {
        text-align: center;
    }

    .footer__logo {
        margin-bottom: 30px;
    }

    .footer__leftbox p {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    footer.footer .footerbottompic {
        position: relative;
        width: 100%;
        max-width: 100%;
        bottom: initial;
        right: initial;
        margin: 25px auto 0;
        display: block;
    }

    footer.footer {
        padding-bottom: 30px;
    }

    .allworks-link {
        width: 100%;
        max-width: 300px;
        height: 56px;
        font-size: 14px;
    }

    .allworks-link {
        margin-top: 30px;
    }

    .modalform-wrap form {
        max-width: 95%;
    }

    .modalform-wrap form {
        max-width: 95%;
        box-sizing: border-box;
        padding: 40px 20px;
    }

    .modal-gallery {
        max-width: 95%;
        box-sizing: border-box;
        padding: 10px;
    }

    .formsection form input[type="submit"],
    .modalform-wrap form input[type="submit"] {
        max-width: 100%;
        font-size: 14px;
        height: 50px;
    }

    .modal-section {
        overflow: scroll;
    }

    .modalform-wrap {
        min-height: 480px;
    }

    .modal-section-proj .modalform-wrap form .title {
        font-size: 26px;
    }

    .modal-section-gallery {
        padding: 0 0;
        box-sizing: border-box;
    }

    .menu-section img {
        display: none;
    }







    .choose__textbox .descr {
        max-width: 100%;
    }

    .ourworks,
    .chooseus,
    .howworking,
    .formsection,
    .after-before {
        padding: 80px 15px 0 15px;
    }

    .ourworks__topsect {
        margin-bottom: 45px;
    }

    .ourworks__topsect p {
        font-size: 15px;
    }

    h3 {
        font-size: 25px;
        line-height: 38px;
    }

    .formsection,
    .after-before {
        padding-top: 120px;
    }

    .formsection form .title,
    .costproject h4 {
        font-size: 25px;
    }

    .formsection form .title {
        margin-bottom: 30px;
    }

    .pagination ul li {
        width: 20px;
    }
}

@media(max-width:414.8px) {
    .whoverbox__title {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .workbox {
        height: 215px;
    }

    .menu-section ul a {
        font-size: 26px;
        line-height: 36px;
    }

    .menu-section ul li {
        margin-bottom: 15px;
    }

    .menu-section ul li:last-child span {
        max-width: 100%;
    }
}

@media(max-width: 365.8px) {

    .cost__title,
    .cost-project.green .cost__title {
        font-size: 34px;
        margin-bottom: 20px;
    }

    .cost__descr {
        min-height: initial;
        margin-bottom: 20px;
    }

    .cost-project.green,
    .cost-project {
        padding: 30px 0 50px 0;
    }

    .slide__text h2 {
        line-height: 40px;
        font-size: 24px;
    }

    .slide__link,
    .howworking__coltext a,
    .formsection form input[type="submit"],
    .choose-content>a {
        max-width: 270px;
        height: 50px;
    }

    .formsection,
    .after-before,
    .costproject {
        padding-top: 80px;
    }

    .formsection form .title {
        font-size: 22px;
        line-height: 30px;
    }

    footer.footer {
        padding-top: 60px;
    }

    .footer__rightboxinfo:nth-child(2) {
        margin-bottom: 80px;
    }

    .allworks-link {
        max-width: 270px;
        height: 50px;
    }
}


@media(max-height:650px) and (min-width:576px) {
    .modal-gallery {
        max-width: 650px;
    }
}

@media (min-width:1025px) and (max-height:780px) {
    .menu-section ul a {
        font-size: 42px;
        line-height: 52px;
    }

    .menu-section ul li {
        margin-bottom: 25px;
    }
}

@media (min-width:1025px) and (max-height:650px) {
    .menu-section ul a {
        font-size: 36px;
        line-height: 46px;
    }

    .menu-section ul li {
        margin-bottom: 20px;
    }

    .menu-section ul li:last-child {
        margin-top: 50px;
    }
}

@media (min-width:1025px) and (max-height:550px) {
    .menu-section ul a {
        font-size: 32px;
        line-height: 42px;
    }

    .menu-section ul li {
        margin-bottom: 20px;
    }

    .menu-section ul li:last-child {
        margin-top: 40px;
    }
}

@media (min-width:1025px) and (max-height:480px) {
    .menu-section ul a {
        font-size: 24px;
        line-height: 34px;
    }

    .menu-section ul li {
        margin-bottom: 15px;
    }

    .menu-section ul li:last-child {
        margin-top: 30px;
    }
}

@media (max-width:575.8px) and (max-height:500px) {
    .menu-section ul a {
        font-size: 22px;
        line-height: 28px;
    }

    .menu-section ul li:last-child {
        margin-top: 30px;
    }
}

@media (max-width:815.8px) and (max-height:460px) {
    .menu-section ul a {
        font-size: 20px;
        line-height: 24px;
    }

    .menu-section ul li {
        margin-bottom: 15px;
    }

    .menu-section ul li:last-child {
        margin-top: 30px;
    }

    .menu-section nav {
        padding: 0 0;
    }
}

@media (max-width:815.8px) and (max-height:360px) {
    .menu-section ul a {
        font-size: 20px;
        line-height: 24px;
    }

    .menu-section ul li {
        margin-bottom: 15px;
    }

    .menu-section ul li:last-child {
        margin-top: 30px;
    }

    .menu-section nav {
        padding: 30px 0;
    }
}

@media(min-height:900px) and (min-width:1600px) {
    .modal-gallery {
        max-width: 1000px;
    }
}